<div class="flex justify-content-center align-items-center" style="min-height:100vh">

  <p-card header="Crear Cuenta" [style]="{ width: '480px' }">

    <form [formGroup]="form" class="flex flex-column gap-3">

      @if (enviado && form.invalid) {
        <p-message severity="error"
          text="Falta completar campos obligatorios correctamente.">
        </p-message>
      }

      <p-divider></p-divider>
      <br>

      <!-- USUARIO -->
      <p-floatlabel>
        <input pInputText formControlName="usuario" class="w-full" />
        <label>Usuario</label>
      </p-floatlabel>

      @if (error('usuario','required') || error('usuario','soloEspacios')) {
        <p-message severity="error" text="El usuario es obligatorio." />
      }
      @if (error('usuario','minlength')) {
        <p-message severity="error" text="Mínimo 4 caracteres." />
      }
<br>
      <!-- EMAIL -->
      <p-floatlabel>
        <input pInputText formControlName="email" class="w-full" />
        <label>Correo electrónico</label>
      </p-floatlabel>

      @if (error('email','required') || error('email','soloEspacios')) {
        <p-message severity="error" text="Correo obligatorio." />
      }
      @if (error('email','email')) {
        <p-message severity="error" text="Correo no válido." />
      }
<br>
      <!-- NOMBRE -->
      <p-floatlabel>
        <input pInputText formControlName="nombreCompleto" class="w-full" />
        <label>Nombre completo</label>
      </p-floatlabel>

      @if (error('nombreCompleto','required') || error('nombreCompleto','soloEspacios')) {
        <p-message severity="error" text="Campo obligatorio." />
      }
<br>
      <!-- DIRECCIÓN -->
      <p-floatlabel>
        <input pInputText formControlName="direccion" class="w-full" />
        <label>Dirección</label>
      </p-floatlabel>

      @if (error('direccion','required') || error('direccion','soloEspacios')) {
        <p-message severity="error" text="Campo obligatorio." />
      }
<br>
      <!-- TELÉFONO -->
      <p-floatlabel>
        <input pInputText formControlName="telefono" class="w-full" />
        <label>Teléfono</label>
      </p-floatlabel>

      @if (error('telefono','required')) {
        <p-message severity="error" text="Campo obligatorio." />
      }
      @if (error('telefono','pattern')) {
        <p-message severity="error" text="Debe tener 10 dígitos numéricos." />
      }
<br>
      <!-- FECHA -->
      <p-floatlabel>
        <p-datepicker
          formControlName="fechaNacimiento"
          [maxDate]="maxFecha"
          dateFormat="dd/mm/yy"
          class="w-full">
        </p-datepicker>
        <label>Fecha de nacimiento</label>
      </p-floatlabel>

      @if (error('fechaNacimiento','required')) {
        <p-message severity="error" text="Campo obligatorio." />
      }
      @if (error('fechaNacimiento','menorDeEdad')) {
        <p-message severity="error" text="Debes ser mayor de 18 años." />
      }
<br>
      <!-- PASSWORD -->
      <p-floatlabel>
        <p-password
          formControlName="password"
          [feedback]="true"
          [toggleMask]="true"
          class="w-full">
        </p-password>
        <label>Contraseña</label>
      </p-floatlabel>

      @if (error('password','required') || error('password','soloEspacios')) {
        <p-message severity="error" text="Contraseña obligatoria." />
      }
      @if (error('password','pattern') || error('password','minlength')) {
        <p-message severity="error"
          text="Mínimo 10 caracteres, mayúscula, minúscula, número y símbolo.">
        </p-message>
      }
<br>
      <!-- CONFIRMAR -->
      <p-floatlabel>
        <p-password
          formControlName="confirmarPassword"
          [feedback]="false"
          [toggleMask]="true"
          class="w-full">
        </p-password>
        <label>Confirmar contraseña</label>
      </p-floatlabel>

      @if (error('confirmarPassword','required') || error('confirmarPassword','soloEspacios')) {
        <p-message severity="error" text="Confirma tu contraseña." />
      }
      @if ((enviado || form.touched) && form.hasError('noCoinciden')) {
        <p-message severity="error" text="Las contraseñas no coinciden." />
      }

      <p-divider></p-divider>

      <p-button
        label="Registrarse"
        icon="pi pi-user-plus"
        class="w-full"
        (onClick)="registrar()">
      </p-button>

      <p-button
        label="¿Ya tienes cuenta? Inicia Sesión"
        variant="text"
        class="w-full"
        routerLink="/login">
      </p-button>

    </form>

  </p-card>
</div>