<div class="flex justify-content-center align-items-center" style="min-height:100vh">

  <p-card header="Crear Cuenta" [style]="{ width: '480px' }">

    <form [formGroup]="form" class="flex flex-column gap-3">

      <!-- MENSAJE GENERAL -->
      @if (enviado && form.invalid) {
        <p-message severity="error" text="Falta completar campos obligatorios correctamente."></p-message>
      }

      <p-divider></p-divider>

      <!-- USUARIO -->
      <p-floatlabel>
        <input pInputText id="usuario" formControlName="usuario" class="w-full" />
        <label for="usuario">Usuario</label>
      </p-floatlabel>
      @if (error('usuario', 'required')) {
        <p-message severity="error" text="El usuario es requerido." />
      }
      @if (error('usuario', 'minlength')) {
        <p-message severity="error" text="Mínimo 4 caracteres." />
      }

      <!-- EMAIL -->
      <p-floatlabel>
        <input pInputText id="email" formControlName="email" class="w-full" />
        <label for="email">Correo electrónico</label>
      </p-floatlabel>
      @if (error('email', 'required')) {
        <p-message severity="error" text="El correo es requerido." />
      }
      @if (error('email', 'email')) {
        <p-message severity="error" text="Correo no válido." />
      }

      <!-- NOMBRE -->
      <p-floatlabel>
        <input pInputText id="nombreCompleto" formControlName="nombreCompleto" class="w-full" />
        <label for="nombreCompleto">Nombre completo</label>
      </p-floatlabel>
      @if (error('nombreCompleto', 'required')) {
        <p-message severity="error" text="Campo obligatorio." />
      }

      <!-- DIRECCIÓN -->
      <p-floatlabel>
        <input pInputText id="direccion" formControlName="direccion" class="w-full" />
        <label for="direccion">Dirección</label>
      </p-floatlabel>
      @if (error('direccion', 'required')) {
        <p-message severity="error" text="Campo obligatorio." />
      }

      <!-- TELÉFONO -->
      <p-floatlabel>
        <input pInputText id="telefono" formControlName="telefono" class="w-full" />
        <label for="telefono">Teléfono</label>
      </p-floatlabel>
      @if (error('telefono', 'required')) {
        <p-message severity="error" text="Campo obligatorio." />
      }
      @if (error('telefono', 'pattern')) {
        <p-message severity="error" text="Debe tener 10 dígitos numéricos." />
      }

      <!-- FECHA -->
      <p-floatlabel>
        <p-datepicker
          formControlName="fechaNacimiento"
          [maxDate]="maxFecha"
          dateFormat="dd/mm/yy"
          class="w-full">
        </p-datepicker>
        <label>Fecha de nacimiento</label>
      </p-floatlabel>
      @if (error('fechaNacimiento', 'required')) {
        <p-message severity="error" text="Campo obligatorio." />
      }
      @if (error('fechaNacimiento', 'menorDeEdad')) {
        <p-message severity="error" text="Debes ser mayor de 18 años." />
      }

      <!-- PASSWORD -->
      <p-floatlabel>
        <p-password
          formControlName="password"
          [feedback]="true"
          [toggleMask]="true"
          class="w-full">
        </p-password>
        <label>Contraseña</label>
      </p-floatlabel>
      @if (error('password', 'required')) {
        <p-message severity="error" text="Campo obligatorio." />
      }
      @if (error('password', 'pattern') || error('password', 'minlength')) {
        <p-message severity="error"
          text="Mínimo 10 caracteres, mayúscula, minúscula, número y símbolo.">
        </p-message>
      }

      <!-- CONFIRMAR PASSWORD -->
      <p-floatlabel>
        <p-password
          formControlName="confirmarPassword"
          [feedback]="false"
          [toggleMask]="true"
          class="w-full">
        </p-password>
        <label>Confirmar contraseña</label>
      </p-floatlabel>
      @if (error('confirmarPassword', 'required')) {
        <p-message severity="error" text="Campo obligatorio." />
      }
      @if ((enviado || form.touched) && form.hasError('noCoinciden')) {
        <p-message severity="error" text="Las contraseñas no coinciden." />
      }

      <p-divider></p-divider>

      <!-- BOTÓN -->
      <p-button
        label="Registrarse"
        icon="pi pi-user-plus"
        class="w-full"
        (onClick)="registrar()">
      </p-button>

      <p-button
        label="¿Ya tienes cuenta? Inicia Sesión"
        variant="text"
        class="w-full"
        routerLink="/login">
      </p-button>

    </form>

  </p-card>
</div>