<p-panel style="height: 100vh">

  <!-- HEADER -->
  <ng-template pTemplate="header">
    <div style="text-align:center; font-weight:bold;">
      ERP_Ruben
    </div>
  </ng-template>

  <!-- MENU -->
  <div class="p-fluid flex flex-column gap-2">

    <!-- INICIO -->
    <button 
      pButton 
      type="button" 
      label="Home" 
      icon="pi pi-home"
      class="p-button-text"
      routerLink="/user/index">
    </button>

    <p-divider></p-divider>

    <!-- PROFILE -->
    <button 
      pButton 
      type="button" 
      label="Profile" 
      icon="pi pi-user"
      class="p-button-text"
      routerLink="/user/profile">
    </button>

    <p-divider></p-divider>

    <!-- GROUP -->
    <button 
      pButton 
      type="button" 
      label="Group" 
      icon="pi pi-users"
      class="p-button-text"
      routerLink="/user/group">
    </button>
 
    <p-divider></p-divider>
    
    <button 
      pButton 
      type="button" 
      label="Logout" 
      icon="pi pi-users"
      class="p-button-text"
      routerLink="">
    </button>
  </div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <!-- FOOTER -->
  <ng-template pTemplate="footer">
    <div style="text-align:center;">
      Version 1.4
    </div>
  </ng-template>

</p-panel>